

.card
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
    font-size: 24vh
    color: var(--text-color)
    margin: 0px
    padding: 16px
    display: flex
    justify-content: space-between
    align-items: center
    text-shadow: 0 0 2px #000
    background-color: var(--bkg-color)

.value
    margin: 0px

.unit
    font-size: 0.25em
    font-weight: normal
    margin: 0px

.logo 
    width: 120px, /* Adjust the size as needed */
    height: 120px, /* Adjust the size as needed */
    object-fit: cover,
    //background-color: #e0e0e0,
    border-radius: 5px
    border: inset


.logo-container 
    margin-left: 10px,

    