

.card
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
    font-size: 24vh
    color: #676666
    margin: 0px
    padding: 16px
    display: flex
    justify-content: space-between
    align-items: center

.value
    margin: 0px

.unit
    font-size: 0.25em
    font-weight: normal
    margin: 0px

.logo 
    width: 120px, /* Adjust the size as needed */
    height: 120px, /* Adjust the size as needed */
    object-fit: cover,


.logo-container 
    margin-left: 10px,

    