<div class="teleinfo">

  <app-tempo-notifier></app-tempo-notifier>
  <app-tempo-notifier [tomorrow]="true"></app-tempo-notifier>
  <app-dashboard></app-dashboard>
  

  <input type="checkbox" name="auto-scroll" id="auto-scroll" [checked]="autoscroll" (change)="autoscroll = !autoscroll">
  <label for="auto-scroll">auto-scroll</label>


  <div class="buttons">
    <button style="height: 80px;padding: 10px;" (click)="onPrevious()">precedent</button>
    <button style="height: 80px;padding: 10px;" (click)="onNext()">suivant</button>
  </div>
  <h1 id="6" style="text-align: center;">{{date_label}}</h1>
  <app-chart [datas]="daily"></app-chart>

  <!--
  <pre><p>{{ daily  | json }}</p></pre>
  
  -->
  <app-debug></app-debug>

</div>